<a class="button is-fullwidth is-outlined is-discord is-thick is-touch"
    target="_blank" rel="noopener noreferrer"
    href="<%= include('contact/social/discord-url.txt') %>">
  <span class="svg-icon icon-discord"></span>
  <span class="fill-width">
    <b>Discord</b>
    öffnen
  </span>
</a>
