<a class="button is-fullwidth is-outlined is-thick is-zoom"
    href="mailto:jonas@informatiktutor.de">
  <span class="icon">
    <i class="icon-paper-plane"></i>
  </span>
  <span class="fill-width">
    <b>E-Mail</b>
    verfassen
  </span>
</a>
