<a class="button is-fullwidth is-outlined is-thick"
    href="/kontakt.html" rel="noopener noreferrer"
    style="height: 2.25rem">
  <span class="fill-width has-text-grey" style="font-size: .88em;"> <!--  -->
    Weitere Kontaktmöglichkeiten&hellip;
  </span>
</a>
