<button class="button is-fullwidth is-outlined is-thick is-dark"
    target="_blank" rel="noopener noreferrer"
    href="<%= include('contact/social/whatsapp-url.txt') %>">
  <span class="icon">
    <i class="icon-qrcode"></i>
  </span>
  <span class="fill-width">
    <b>QR-Code</b>
    anzeigen
  </span>
</button>
