<a class="button is-fullwidth is-outlined is-thick is-signal is-touch"
    target="_blank" rel="noopener noreferrer"
    href="<%= include('contact/social/signal-url.txt') %>">
  <span class="svg-icon icon-signal"></span>
  <span class="fill-width">
    <b>Signal</b>
    öffnen
  </span>
</a>
