<a class="button is-fullwidth is-outlined is-thick is-whatsapp is-touch"
    target="_blank" rel="noopener noreferrer"
    href="<%= include('contact/social/whatsapp-url.txt') %>">
  <span class="icon">
    <i class="icon-whatsapp"></i>
  </span>
  <span class="fill-width">
    <b>WhatsApp</b>
    öffnen
  </span>
</a>
