<footer class="footer px-6">
  <div class="content has-text-centered">
    <span>&copy; Copyright 2021 Jonas van den Berg</span>
    <span style="white-space: normal; display: inline-block">
      <a id="link-github" target="_blank" rel="noopener noreferrer"
      href="https://github.com/vonas">GitHub</a>
      <a id="link-source" target="_blank" rel="noopener noreferrer"
      href="https://github.com/informatiktutor/website">Quellcode</a>
    </span>
  </div>
  <div class="footer-extension"></div>
</footer>
