<!DOCTYPE html>
<html lang="de">
  <head>
    <%- include('_views/include/head') %>
  </head>
  <body>
    <div class="page">
      <div class="hero is-halfheight is-dark">
        <div class="hero-body">
          <div class="container is-half-desktop">
            <div class="columns is-mobile is-centered">
              <div class="column is-narrow">
                <h1 class="title">404 &mdash;</h1>
                <h2 class="subtitle">Diese Seite existiert nicht.</h2>
                <a href="/" class="has-text-grey-lighter is-small">
                  <u>Zurück zur Hauptseite</u>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('_views/components/footer') %>
  </body>
</html>
