<!DOCTYPE html>
<html lang="de">
  <head>
    <%- include('_views/include/head') %> 
    <link rel="stylesheet" href="assets/icons/css/icons.css">
    <script>
      window.sa_event =
        window.sa_event ||
        function () {
          var a = [].slice.call(arguments);
          window.sa_event.q
            ? window.sa_event.q.push(a)
            : (window.sa_event.q = [a]);
        };
    </script>
  </head>
  <body>
    <div class="page">
      <%- include('_views/page') %>
    </div>
    <%- include('_views/components/footer') %>
    <%- include('_views/components/analytics') %>
    <% if (is_development) { %>
      <script>
        window.is_development = true;
      </script>
    <% } %>
    <script src="assets/js/main.js"></script>
  </body>
</html>
